@charset "UTF-8";
/*	Give number, sets REM with px fallback (via: designbyjoel.com/blog/2013-02-28-sass-rems)

	Use:
	
		@include px-rem(padding, 1, 2, 3, 4);
		@include px-rem(margin-bottom, 10 auto 0 auto);

	Result:
		padding: 16px 32px 48px 60px;
		padding: 1rem 2rem 3rem 4rem;
		margin-bottom: 160px auto 0px auto;
		margin-bottom: 10rem auto 0rem auto;
*/
/*	Set column width and gutter margins

	Use:
		@include set-column($columns, $column-size, $gutter-size, $screen-width);

*/
/*--------------------------------------------------
	Layout 
  --------------------------------------------------

	Setting column sizes is now more flexible than
	before. You can now set your own breakpoints,
	as well as completely different layouts per
	breakpoint. (Defaults are 12 columns at
	48rem and 60rem.)
	
	Provide numbers calculated as REM without units,
	mixins will do the rest.

	Use:
		@include px-rem(padding, 1, 2, 3, 4);
		@include px-rem(margin-bottom, 10 auto 0 auto);

	Result:
		padding: 16px 32px 48px 60px;
		padding: 1rem 2rem 3rem 4rem;
		margin-bottom: 160px auto 0px auto;
		margin-bottom: 10rem auto 0rem auto;

  ---------------------------------------------------
*/
/* 6 columns */
/* 12 columns */
/*--------------------------------------------------
	Typographic Scale 
  --------------------------------------------------
	http://modularscale.com/scale/?px1=16&px2=12&ra1=1.5&ra2=0
	
	Line-height can now be set by breakpoints.
*/
/**
  * PWS Tabs jQuery Plugin
  * Author: Alex Chizhov
  * Author Website: http://alexchizhov.com/pwstabs
  * GitHub: https://github.com/alexchizhovcom/pwstabs
  * Version: 1.2.1
  * Version from: 23.01.2015
  * Licensed under the MIT license
  */
@media only screen and (max-width: 60em) {
  /* line 23, ../_sass/partials/_plugins.scss */
  .pws_tabs_container.pws_tabs_responsive {
    float: right;
  }
}
@media only screen and (max-width: 60em) and (min-width: 50em) {
  /* line 23, ../_sass/partials/_plugins.scss */
  .pws_tabs_container.pws_tabs_responsive {
    width: 504px;
    width: 31.5rem;
  }
}
@media only screen and (max-width: 60em) and (min-width: 60em) {
  /* line 23, ../_sass/partials/_plugins.scss */
  .pws_tabs_container.pws_tabs_responsive {
    width: 624px;
    width: 39rem;
  }
}
@media only screen and (max-width: 60em) {
  /* line 29, ../_sass/partials/_plugins.scss */
  .pws_tabs_container.pws_tabs_responsive ul.pws_tabs_controll {
    width: 100%;
  }
  /* line 31, ../_sass/partials/_plugins.scss */
  .pws_tabs_container.pws_tabs_responsive ul.pws_tabs_controll li {
    vertical-align: top;
    text-align: center;
  }
  /* line 34, ../_sass/partials/_plugins.scss */
  .pws_tabs_container.pws_tabs_responsive ul.pws_tabs_controll li a {
    margin: 0;
    font-size: 1em;
    line-height: 1.125em;
    overflow: hidden;
  }
  /* line 39, ../_sass/partials/_plugins.scss */
  .pws_tabs_container.pws_tabs_responsive ul.pws_tabs_controll li a i {
    display: block;
    margin: 0 0 5px 0;
  }
  /* line 51, ../_sass/partials/_plugins.scss */
  .pws_tabs_container.pws_tabs_responsive.pws_tabs_vertical {
    display: block;
    position: relative;
  }
  /* line 54, ../_sass/partials/_plugins.scss */
  .pws_tabs_container.pws_tabs_responsive.pws_tabs_vertical:after {
    display: block;
    content: '';
    clear: both;
  }
  /* line 58, ../_sass/partials/_plugins.scss */
  .pws_tabs_container.pws_tabs_responsive.pws_tabs_vertical ul.pws_tabs_controll {
    width: 100%;
    position: relative;
    float: none;
  }
  /* line 62, ../_sass/partials/_plugins.scss */
  .pws_tabs_container.pws_tabs_responsive.pws_tabs_vertical ul.pws_tabs_controll li {
    display: inline-block;
  }
  /* line 64, ../_sass/partials/_plugins.scss */
  .pws_tabs_container.pws_tabs_responsive.pws_tabs_vertical ul.pws_tabs_controll li a {
    margin: 0;
  }
  /* line 70, ../_sass/partials/_plugins.scss */
  .pws_tabs_container.pws_tabs_responsive.pws_tabs_vertical .pws_tabs_list {
    position: relative;
    float: none;
  }
}
@media only screen and (max-width: 37.5em) {
  /* line 84, ../_sass/partials/_plugins.scss */
  .pws_tabs_container.pws_tabs_responsive {
    width: 100% !important;
    position: relative;
  }
  /* line 87, ../_sass/partials/_plugins.scss */
  .pws_tabs_container.pws_tabs_responsive .pws_responsive_small_menu {
    width: 100%;
    height: 40px;
    background-color: #9bd7d5;
    display: block;
  }
  /* line 92, ../_sass/partials/_plugins.scss */
  .pws_tabs_container.pws_tabs_responsive .pws_responsive_small_menu a {
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    color: #fff;
    font-size: 32px;
    font-size: 2em;
    text-align: center;
    padding: 3px 0 0 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  /* line 103, ../_sass/partials/_plugins.scss */
  .pws_tabs_container.pws_tabs_responsive .pws_responsive_small_menu a:hover {
    background-color: #70c5c2;
  }
  /* line 109, ../_sass/partials/_plugins.scss */
  .pws_tabs_container.pws_tabs_responsive ul.pws_tabs_controll.pws_tabs_menu_popup {
    display: block;
    position: absolute;
    overflow: hidden;
    top: 40px;
    left: 0;
    z-index: 99;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  /* line 119, ../_sass/partials/_plugins.scss */
  .pws_tabs_container.pws_tabs_responsive ul.pws_tabs_controll.pws_tabs_menu_popup li {
    display: block;
    float: none;
  }
  /* line 122, ../_sass/partials/_plugins.scss */
  .pws_tabs_container.pws_tabs_responsive ul.pws_tabs_controll.pws_tabs_menu_popup li a i {
    display: inline-block;
    margin: 0 3px 0 0;
    margin: 0 0.1875em 0 0;
  }
  /* line 132, ../_sass/partials/_plugins.scss */
  .pws_tabs_container.pws_tabs_responsive.pws_tabs_rtl ul.pws_tabs_controll.pws_tabs_menu_popup li a i {
    display: inline-block;
    margin: 0 0 0 3px;
    margin: 0 0 0 0.1875em;
  }
}
/* line 143, ../_sass/partials/_plugins.scss */
.pws_tabs_container {
  margin: 0 auto 24px;
  margin: 0 auto 1.5rem;
}
@media screen and (min-width: 48em) {
  /* line 143, ../_sass/partials/_plugins.scss */
  .pws_tabs_container {
    float: right;
  }
}
@media screen and (min-width: 50em) {
  /* line 143, ../_sass/partials/_plugins.scss */
  .pws_tabs_container {
    width: 504px;
    width: 31.5rem;
  }
}
@media screen and (min-width: 60em) {
  /* line 143, ../_sass/partials/_plugins.scss */
  .pws_tabs_container {
    width: 624px;
    width: 39rem;
  }
}
/* line 153, ../_sass/partials/_plugins.scss */
.pws_tabs_container ul.pws_tabs_controll {
  list-style: none;
}
/* line 155, ../_sass/partials/_plugins.scss */
.pws_tabs_container ul.pws_tabs_controll li {
  display: inline-block;
}
/* line 157, ../_sass/partials/_plugins.scss */
.pws_tabs_container ul.pws_tabs_controll li a {
  display: block;
  background-color: #9bd7d5;
  padding: 12px;
  padding: 0.75rem;
  text-decoration: none;
  color: #fff;
  margin-right: 3px;
}
/* line 164, ../_sass/partials/_plugins.scss */
.pws_tabs_container ul.pws_tabs_controll li a:hover {
  background-color: #70c5c2;
}
/* line 167, ../_sass/partials/_plugins.scss */
.pws_tabs_container ul.pws_tabs_controll li a i {
  margin-right: 8px;
}
/* line 170, ../_sass/partials/_plugins.scss */
.pws_tabs_container ul.pws_tabs_controll li a.pws_tab_noname i {
  margin-right: 0;
  margin-left: 0;
}
/* line 174, ../_sass/partials/_plugins.scss */
.pws_tabs_container ul.pws_tabs_controll li a.pws_tab_active {
  background-color: #fff;
  color: #505050;
}

/* line 185, ../_sass/partials/_plugins.scss */
.pws_tabs_list {
  display: block;
  background-color: #fff;
  height: auto;
  padding: 16px;
  padding: 1rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-transition: all .3s ease-in-out .3s;
  -moz-transition: all .3s ease-in-out .3s;
  -ms-transition: all .3s ease-in-out .3s;
  -o-transition: all .3s ease-in-out .3s;
  transition: all .3s ease-in-out .3s;
  overflow: hidden;
  position: relative;
}

/* line 195, ../_sass/partials/_plugins.scss */
.pws_tab_single {
  position: absolute;
  top: 20px;
  padding-right: 16px;
  padding-right: 1rem;
  -webkit-transition: all .3s ease-in-out .0;
  -moz-transition: all .3s ease-in-out .0;
  -ms-transition: all .3s ease-in-out .0;
  -o-transition: all .3s ease-in-out .0;
  transition: all .3s ease-in-out .0;
}

/**
  * ######################################################
  * Right To Left Styles
  * ######################################################
  */
/* line 208, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_tabs_rtl {
  text-align: right;
  direction: rtl;
}
/* line 211, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_tabs_rtl ul.pws_tabs_controll li a {
  margin-right: 0;
  margin-left: 3px;
}
/* line 214, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_tabs_rtl ul.pws_tabs_controll li a i {
  margin-left: 8px;
  margin-right: 0;
}
/* line 219, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_tabs_rtl .pws_tab_single {
  padding-right: 0;
  padding-left: 16px;
  padding-left: 1rem;
}

/**
  * ######################################################
  * Vertical Position
  * ######################################################
  */
/* line 231, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_tabs_vertical {
  display: block;
  position: relative;
}
/* line 235, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_tabs_vertical:after {
  display: block;
  content: '';
  clear: both;
}
/* line 239, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_tabs_vertical ul.pws_tabs_controll {
  width: auto;
  position: relative;
  float: left;
}
/* line 243, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_tabs_vertical ul.pws_tabs_controll li {
  display: block;
}
/* line 245, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_tabs_vertical ul.pws_tabs_controll li a {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 3px;
}
/* line 253, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_tabs_vertical .pws_tabs_list {
  position: relative;
  float: left;
}

/**
  * ######################################################
  * Colors - Themes @1.2.0
  * ######################################################
  */
/**
* ###########################
* violet
* ###########################
*/
/* line 274, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_tabs_responsive.pws_theme_violet .pws_responsive_small_menu {
  background-color: #c72c66;
}
/* line 276, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_tabs_responsive.pws_theme_violet .pws_responsive_small_menu a:hover {
  background-color: #a6164c;
}

/* line 280, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_theme_violet ul.pws_tabs_controll li a {
  background-color: #c72c66;
}
/* line 282, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_theme_violet ul.pws_tabs_controll li a:hover {
  background-color: #a6164c;
}
/* line 285, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_theme_violet ul.pws_tabs_controll li a.pws_tab_active {
  background-color: $white;
}

/**
* ###########################
* green
* ###########################
*/
/* line 274, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_tabs_responsive.pws_theme_green .pws_responsive_small_menu {
  background-color: #86c447;
}
/* line 276, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_tabs_responsive.pws_theme_green .pws_responsive_small_menu a:hover {
  background-color: #539312;
}

/* line 280, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_theme_green ul.pws_tabs_controll li a {
  background-color: #86c447;
}
/* line 282, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_theme_green ul.pws_tabs_controll li a:hover {
  background-color: #539312;
}
/* line 285, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_theme_green ul.pws_tabs_controll li a.pws_tab_active {
  background-color: $white;
}

/**
* ###########################
* yellow
* ###########################
*/
/* line 274, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_tabs_responsive.pws_theme_yellow .pws_responsive_small_menu {
  background-color: #fdb813;
}
/* line 276, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_tabs_responsive.pws_theme_yellow .pws_responsive_small_menu a:hover {
  background-color: #ffa500;
}

/* line 280, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_theme_yellow ul.pws_tabs_controll li a {
  background-color: #fdb813;
}
/* line 282, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_theme_yellow ul.pws_tabs_controll li a:hover {
  background-color: #ffa500;
}
/* line 285, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_theme_yellow ul.pws_tabs_controll li a.pws_tab_active {
  background-color: $white;
}

/**
* ###########################
* gold
* ###########################
*/
/* line 274, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_tabs_responsive.pws_theme_gold .pws_responsive_small_menu {
  background-color: #f89827;
}
/* line 276, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_tabs_responsive.pws_theme_gold .pws_responsive_small_menu a:hover {
  background-color: #fa7b00;
}

/* line 280, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_theme_gold ul.pws_tabs_controll li a {
  background-color: #f89827;
}
/* line 282, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_theme_gold ul.pws_tabs_controll li a:hover {
  background-color: #fa7b00;
}
/* line 285, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_theme_gold ul.pws_tabs_controll li a.pws_tab_active {
  background-color: $white;
}

/**
* ###########################
* orange
* ###########################
*/
/* line 274, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_tabs_responsive.pws_theme_orange .pws_responsive_small_menu {
  background-color: #f15b42;
}
/* line 276, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_tabs_responsive.pws_theme_orange .pws_responsive_small_menu a:hover {
  background-color: #fd2e0b;
}

/* line 280, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_theme_orange ul.pws_tabs_controll li a {
  background-color: #f15b42;
}
/* line 282, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_theme_orange ul.pws_tabs_controll li a:hover {
  background-color: #fd2e0b;
}
/* line 285, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_theme_orange ul.pws_tabs_controll li a.pws_tab_active {
  background-color: $white;
}

/**
* ###########################
* red
* ###########################
*/
/* line 274, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_tabs_responsive.pws_theme_red .pws_responsive_small_menu {
  background-color: #e41937;
}
/* line 276, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_tabs_responsive.pws_theme_red .pws_responsive_small_menu a:hover {
  background-color: #d70726;
}

/* line 280, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_theme_red ul.pws_tabs_controll li a {
  background-color: #e41937;
}
/* line 282, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_theme_red ul.pws_tabs_controll li a:hover {
  background-color: #d70726;
}
/* line 285, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_theme_red ul.pws_tabs_controll li a.pws_tab_active {
  background-color: $white;
}

/**
* ###########################
* purple
* ###########################
*/
/* line 274, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_tabs_responsive.pws_theme_purple .pws_responsive_small_menu {
  background-color: #672e8d;
}
/* line 276, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_tabs_responsive.pws_theme_purple .pws_responsive_small_menu a:hover {
  background-color: #470871;
}

/* line 280, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_theme_purple ul.pws_tabs_controll li a {
  background-color: #672e8d;
}
/* line 282, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_theme_purple ul.pws_tabs_controll li a:hover {
  background-color: #470871;
}
/* line 285, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_theme_purple ul.pws_tabs_controll li a.pws_tab_active {
  background-color: $white;
}

/**
* ###########################
* grey
* ###########################
*/
/* line 274, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_tabs_responsive.pws_theme_grey .pws_responsive_small_menu {
  background-color: #4d4d4f;
}
/* line 276, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_tabs_responsive.pws_theme_grey .pws_responsive_small_menu a:hover {
  background-color: $black000;
}

/* line 280, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_theme_grey ul.pws_tabs_controll li a {
  background-color: #4d4d4f;
}
/* line 282, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_theme_grey ul.pws_tabs_controll li a:hover {
  background-color: $black000;
}
/* line 285, ../_sass/partials/_plugins.scss */
.pws_tabs_container.pws_theme_grey ul.pws_tabs_controll li a.pws_tab_active {
  background-color: $white;
}

/**
  * ######################################################
  * Effect: none
  * ######################################################
  */
/* line 307, ../_sass/partials/_plugins.scss */
.pws_tabs_noeffect .pws_tabs_list {
  -webkit-transition: all .1s ease-in-out 0;
  -moz-transition: all .1s ease-in-out 0;
  -ms-transition: all .1s ease-in-out 0;
  -o-transition: all .1s ease-in-out 0;
  transition: all .1s ease-in-out 0;
}
/* line 310, ../_sass/partials/_plugins.scss */
.pws_tabs_noeffect .pws_tab_single {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

/* line 314, ../_sass/partials/_plugins.scss */
.pws_tabs_none_hide {
  display: none;
}

/* line 317, ../_sass/partials/_plugins.scss */
.pws_tabs_none_show {
  display: block;
}

/**
  * ######################################################
  * Effect: scale
  * ######################################################
  */
/* line 326, ../_sass/partials/_plugins.scss */
.pws_tabs_scale_hide {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

/* line 330, ../_sass/partials/_plugins.scss */
.pws_tabs_scale_show {
  z-index: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition-delay: .3s;
  -moz-transition-delay: .3s;
  -ms-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
}

/**
  * ######################################################
  * Effect: slideleft
  * ######################################################
  */
/* line 342, ../_sass/partials/_plugins.scss */
.pws_tabs_slide_left_hide {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

/* line 346, ../_sass/partials/_plugins.scss */
.pws_tabs_slide_left_show {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition-delay: .3s;
  -moz-transition-delay: .3s;
  -ms-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
}

/**
  * ######################################################
  * Effect: slideright
  * ######################################################
  */
/* line 357, ../_sass/partials/_plugins.scss */
.pws_tabs_slide_right_hide {
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -o-transform: translateX(200%);
  -ms-transform: translateX(200%);
  transform: translateX(200%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

/* line 361, ../_sass/partials/_plugins.scss */
.pws_tabs_slide_right_show {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition-delay: .3s;
  -moz-transition-delay: .3s;
  -ms-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
}

/**
  * ######################################################
  * Effect: slidetop
  * ######################################################
  */
/* line 373, ../_sass/partials/_plugins.scss */
.pws_tabs_slide_top_hide {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

/* line 377, ../_sass/partials/_plugins.scss */
.pws_tabs_slide_top_show {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition-delay: .3s;
  -moz-transition-delay: .3s;
  -ms-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
}

/**
  * ######################################################
  * Effect: slidedown
  * ######################################################
  */
/* line 388, ../_sass/partials/_plugins.scss */
.pws_tabs_slide_down_hide {
  -webkit-transform: translateY(200%);
  -moz-transform: translateY(200%);
  -o-transform: translateY(200%);
  -ms-transform: translateY(200%);
  transform: translateY(200%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

/* line 392, ../_sass/partials/_plugins.scss */
.pws_tabs_slide_down_show {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition-delay: .3s;
  -moz-transition-delay: .3s;
  -ms-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
}

/* line 16, ../_sass/partials/_overrides.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: #fff;
}

/* line 20, ../_sass/partials/_overrides.scss */
body {
  margin: 0;
  font-size: 1em;
}
@media screen and (min-width: 48em) {
  /* line 20, ../_sass/partials/_overrides.scss */
  body {
    line-height: 27.008px;
    line-height: 1.688rem;
  }
}

/* line 22, ../_sass/partials/_overrides.scss */
body, button, input, select, textarea {
  font-family: 'Merriweather', serif;
  color: #111;
}

/* line 80, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
a {
  background-color: transparent;
}

/* line 85, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 29, ../_sass/partials/_overrides.scss */
a {
  color: #73905d;
}
/* line 32, ../_sass/partials/_overrides.scss */
a:visited {
  color: #448089;
}
/* line 33, ../_sass/partials/_overrides.scss */
a:hover, a:focus {
  color: #a8b48b;
}
/* line 37, ../_sass/partials/_overrides.scss */
a.citation {
  font-style: italic;
}

@media screen and (min-width: 48em) {
  /* line 51, ../_sass/partials/_overrides.scss */
  body {
    line-height: 27.008px;
    line-height: 1.688rem;
  }
}
@media screen and (min-width: 60em) {
  /* line 51, ../_sass/partials/_overrides.scss */
  body {
    line-height: 24px;
    line-height: 1.5rem;
  }
}

/* line 56, ../_sass/partials/_overrides.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 58, ../_sass/partials/_overrides.scss */
b, strong {
  font-weight: bold;
}

/* line 59, ../_sass/partials/_overrides.scss */
em em {
  font-style: italic;
  font-weight: bold;
}

/* line 61, ../_sass/partials/_overrides.scss */
dfn {
  font-style: italic;
}

/* line 63, ../_sass/partials/_overrides.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 65, ../_sass/partials/_overrides.scss */
ins {
  background: #ff9;
  color: #111;
  text-decoration: none;
}

/* line 67, ../_sass/partials/_overrides.scss */
mark {
  background: #ff0;
  color: #111;
  font-style: italic;
  font-weight: bold;
}

/* line 70, ../_sass/partials/_overrides.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 73, ../_sass/partials/_overrides.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 75, ../_sass/partials/_overrides.scss */
q {
  quotes: none;
}

/* line 76, ../_sass/partials/_overrides.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 78, ../_sass/partials/_overrides.scss */
small {
  font-size: 12px;
  font-size: 0.75rem;
}

/* line 81, ../_sass/partials/_overrides.scss */
sub, sup {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 82, ../_sass/partials/_overrides.scss */
sup {
  top: 8px;
  top: 0.5rem;
}

/* line 83, ../_sass/partials/_overrides.scss */
sub {
  bottom: -4px;
  bottom: -0.25rem;
}

/* line 85, ../_sass/partials/_overrides.scss */
h1, h2, h3, h4, h5, h6, dt, legend {
  color: #5d9732;
}

/* line 86, ../_sass/partials/_overrides.scss */
h1 {
  font-size: 36px;
  font-size: 2.25rem;
}

/* line 89, ../_sass/partials/_overrides.scss */
h2 {
  font-size: 27.008px;
  font-size: 1.688rem;
  line-height: 54px;
  line-height: 3.375rem;
}

/* line 93, ../_sass/partials/_overrides.scss */
h3, *[role=complimentary] dt {
  font-size: 24px;
  font-size: 1.5rem;
}

/* line 97, ../_sass/partials/_overrides.scss */
h4, h5, h6 {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: bold;
}

/* line 102, ../_sass/partials/_overrides.scss */
p, blockquote {
  font-size: 16px;
  font-size: 1rem;
  margin: 0;
}

/* line 107, ../_sass/partials/_overrides.scss */
img, video, iframe, audio {
  width: 100%;
}

/* line 110, ../_sass/partials/_overrides.scss */
svg + p, img + p, aside + p, p + p, figure + p, figcaption + p, blockquote + p, q + p {
  margin-top: 24px;
  margin-top: 1.5rem;
  text-indent: 0;
}

/* line 121, ../_sass/partials/_overrides.scss */
ul, ol {
  margin: 0;
  padding: 0;
}

/* line 122, ../_sass/partials/_overrides.scss */
li {
  margin: 0;
  padding: 0;
}

/* line 195, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 206, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
button {
  overflow: visible;
}

/* line 214, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 224, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 233, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 239, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 247, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
input {
  line-height: normal;
}

/* line 255, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 264, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 272, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/* line 282, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 288, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 296, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/* line 302, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
textarea {
  overflow: auto;
}

/* line 308, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* line 316, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 321, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
td,
th {
  padding: 0;
}

/*
@import url(http://weloveiconfonts.com/api/?family=zocial);

[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

@font-face {
font-family: 'Merriweather';
src: url("/fossil-free/fonts/Merriweather-Regular.ttf") format(truetype);
	
}

*/
/* line 15, ../_sass/partials/_page.scss */
body, select, input, textarea {
  color: #111;
  font-family: 'Merriweather', serif;
}

/* line 25, ../_sass/partials/_page.scss */
.return {
  position: absolute;
  top: 24px;
  top: 1.5rem;
  left: 16px;
  left: 1rem;
  font-size: 16px;
  font-size: 1rem;
  display: none;
}
@media screen and (min-width: 50em) {
  /* line 25, ../_sass/partials/_page.scss */
  .return {
    display: block;
  }
}
/* line 37, ../_sass/partials/_page.scss */
.return a {
  text-decoration: none;
  color: #5d9732;
}
/* line 41, ../_sass/partials/_page.scss */
.return a:visited {
  color: #5d9732;
}
/* line 42, ../_sass/partials/_page.scss */
.return a:focus, .return a:hover {
  color: #8eb670;
}
/* line 43, ../_sass/partials/_page.scss */
.return a:before {
  content: "☚ ";
}

/* line 52, ../_sass/partials/_page.scss */
.content
#why li, #steps li, #start li, #progress li {
  margin: 24px;
  margin: 1.5rem;
}
/* line 53, ../_sass/partials/_page.scss */
.content
#why:after, #steps:after, #start:after, #progress:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 57, ../_sass/partials/_page.scss */
.quote blockquote {
  margin: 96px 0;
  margin: 6rem 0;
  padding: 48px 0 24px;
  padding: 3rem 0 1.5rem;
  font-size: 27.008px;
  font-size: 1.688rem;
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
}
/* line 64, ../_sass/partials/_page.scss */
.quote blockquote:before {
  content: "“ ";
  font-size: 81.008px;
  font-size: 5.063rem;
  position: absolute;
  margin: 0 0 0 -48px;
  margin: 0 0 0 -3rem;
  color: #e4efc7;
}
@media screen and (min-width: 50em) {
  /* line 64, ../_sass/partials/_page.scss */
  .quote blockquote:before {
    margin-top: 24px;
    margin-top: 1.5rem;
  }
}
/* line 76, ../_sass/partials/_page.scss */
.quote blockquote p {
  font-size: 27.008px;
  font-size: 1.688rem;
  text-indent: 67.52px;
  text-indent: 4.22rem;
  line-height: 36px;
  line-height: 2.25rem;
}

/* line 84, ../_sass/partials/_page.scss */
p.source {
  font-size: 18px;
  font-size: 1.125rem;
  text-align: right;
}
/* line 88, ../_sass/partials/_page.scss */
p.source:before {
  font-weight: bold;
  content: "— ";
}
/* line 90, ../_sass/partials/_page.scss */
p.source a {
  color: #111;
  text-decoration: none;
  border-bottom: 1px dotted #375422;
}

/* line 93, ../_sass/partials/_page.scss */
dl.steps {
  counter-reset: definition-list;
}
/* line 95, ../_sass/partials/_page.scss */
dl.steps dt {
  margin-top: 24px;
  margin-top: 1.5rem;
  font-weight: bold;
}
/* line 98, ../_sass/partials/_page.scss */
dl.steps dt:before {
  position: absolute;
  margin-left: -24px;
  margin-left: -1.5rem;
  counter-increment: definition-list;
  content: counter(definition-list) ".";
}
/* line 105, ../_sass/partials/_page.scss */
dl.steps dd {
  padding-left: 0;
  margin-left: 0;
}

/* line 108, ../_sass/partials/_page.scss */
.action {
  text-align: center;
  margin: 18px;
  margin: 1.125rem;
}
/* line 113, ../_sass/partials/_page.scss */
.action a {
  color: #fff;
  border: 1px solid #c8df8e;
  text-decoration: none;
  border-radius: 27px;
  border-radius: 1.6875rem;
  background-color: #5d9732;
  padding: 18px;
  padding: 1.125rem;
}
/* line 142, ../_sass/partials/_utilities.scss */
.action a:hover, .action a:focus {
  background-color: #86b165;
}
@media screen and (min-width: 26em) {
  /* line 108, ../_sass/partials/_page.scss */
  .action {
    margin: 27.008px;
    margin: 1.688rem;
  }
  /* line 121, ../_sass/partials/_page.scss */
  .action a {
    color: #fff;
    border: 1.5px solid #c8df8e;
    text-decoration: none;
    border-radius: 24px;
    border-radius: 1.5rem;
    background-color: #5d9732;
    padding: 24px;
    padding: 1.5rem;
  }
  /* line 125, ../_sass/partials/_utilities.scss */
  .action a:hover, .action a:focus {
    background-color: #86b165;
  }
}
@media screen and (min-width: 35em) {
  /* line 108, ../_sass/partials/_page.scss */
  .action {
    margin: 27.008px;
    margin: 1.688rem;
  }
  /* line 131, ../_sass/partials/_page.scss */
  .action h3 {
    margin: 36px;
    margin: 2.25rem;
  }
  /* line 134, ../_sass/partials/_page.scss */
  .action a {
    color: #fff;
    border: 2px solid #c8df8e;
    text-decoration: none;
    border-radius: 24px;
    border-radius: 1.5rem;
    background-color: #5d9732;
    padding: 27.008px;
    padding: 1.688rem;
  }
  /* line 107, ../_sass/partials/_utilities.scss */
  .action a:hover, .action a:focus {
    background-color: #86b165;
  }
}

/* line 140, ../_sass/partials/_page.scss */
.sponsor {
  background-color: #e4efc7;
  text-align: center;
  padding: 24px;
  padding: 1.5rem;
}
/* line 145, ../_sass/partials/_page.scss */
.sponsor img {
  max-height: 600px;
  max-width: 600px;
}

/* line 155, ../_sass/partials/_page.scss */
.top10 {
  margin: 72px 0;
  margin: 4.5rem 0;
  overflow: hidden;
  position: relative;
}
/* line 160, ../_sass/partials/_page.scss */
.top10:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* line 162, ../_sass/partials/_page.scss */
.top10 .content {
  position: relative;
  padding: 48px 24px;
  padding: 3rem 1.5rem;
  z-index: 1;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
}
@media screen and (min-width: 50em) {
  /* line 171, ../_sass/partials/_page.scss */
  .top10 .background {
    z-index: 0;
    position: absolute;
      display: none;
  }
}
/* line 177, ../_sass/partials/_page.scss */
.top10 ol {
  font-family: "Gill Sans", sans-serif;
  padding: 24px 0 24px 36px;
  padding: 1.5rem 0 1.5rem 2.25rem;
  font-size: 18px;
  font-size: 1.125rem;
  overflow: visible;
}
@media screen and (min-width: 50em) {
  /* line 177, ../_sass/partials/_page.scss */
  .top10 ol {
    -moz-columns: 2;
    -webkit-columns: 2;
    columns: 2;
    -moz-column-gap: 4.5rem;
    -webkit-column-gap: 4.5rem;
    column-gap: 4.5rem;
    -moz-column-gap: 72px;
    -webkit-column-gap: 72px;
    column-gap: 72px;
  }
  /* line 188, ../_sass/partials/_page.scss */
  .top10 ol li {
    margin-left: 48px;
    margin-left: 3rem;
    overflow: visible;
  }
}
@media screen and (min-width: 60em) {
  /* line 177, ../_sass/partials/_page.scss */
  .top10 ol {
    font-size: 24px;
    font-size: 1.5rem;
  }
}
/* line 199, ../_sass/partials/_page.scss */
.top10 ol p {
  font-family: "Gill Sans", sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
}
@media screen and (min-width: 60em) {
  /* line 199, ../_sass/partials/_page.scss */
  .top10 ol p {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 30px;
    line-height: 1.875rem;
  }
}

/* line 217, ../_sass/partials/_page.scss */
html {
  height: 100%;
}

/* line 224, ../_sass/partials/_page.scss */
body {
  width: 100%;
  height: 100%;
}
/* line 228, ../_sass/partials/_page.scss */
body * {
  box-sizing: border-box;
}

/* line 232, ../_sass/partials/_page.scss */
header[role=banner] hgroup {
  padding: 12px 0 8px;
  padding: 0.75rem 0 0.5rem;
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  z-index: 10;
}
/* line 238, ../_sass/partials/_page.scss */
header[role=banner] hgroup h1 {
  text-align: center;
  width: 180px;
  width: 11.25rem;
  margin: 0 auto;
  padding: 0;
}

/* line 245, ../_sass/partials/_page.scss */
nav[role=navigation] {
  position: fixed;
  bottom: 1.584px;
  bottom: 0.099rem;
  right: 5.328px;
  right: 0.333rem;
  color: #888888;
  margin: 16px auto;
  margin: 1rem auto;
  z-index: 100;
  /* menu icon */
}
@media screen and (min-width: 50em) {
  /* line 245, ../_sass/partials/_page.scss */
  nav[role=navigation] {
    right: auto;
    bottom: auto;
    z-index: 0;
  }
}
/* line 260, ../_sass/partials/_page.scss */
nav[role=navigation] #menu-icon {
  color: #111;
  height: 36px;
  height: 2.25rem;
  background: #dbdbdb url("/fossil-free/images/icons/menu-icon.png") no-repeat 5px center;
  padding: 8px 10px 0 42px;
  cursor: pointer;
  border: solid 1px #888888;
  display: block;
  /* show menu icon */
}
/* line 269, ../_sass/partials/_page.scss */
nav[role=navigation] #menu-icon:hover {
  background-color: #f3f3f3;
}
/* line 273, ../_sass/partials/_page.scss */
nav[role=navigation] #menu-icon.active {
  background-color: #e7e7e7;
}
/* line 278, ../_sass/partials/_page.scss */
nav[role=navigation] > ol {
  text-align: left;
  color: #888888;
  background: #fff;
  position: fixed;
  bottom: 48px;
  bottom: 3rem;
  right: 0;
}
@media screen and (min-width: 50em) {
  /* line 278, ../_sass/partials/_page.scss */
  nav[role=navigation] > ol {
    position: absolute;
    right: auto;
    left: 0;
    bottom: auto;
    background: transparent;
  }
}
/* line 295, ../_sass/partials/_page.scss */
nav[role=navigation] a {
  color: #888888;
}
/* line 297, ../_sass/partials/_page.scss */
nav[role=navigation] a:hover, nav[role=navigation] a:focus {
  color: #5d9732;
}
@media screen and (min-width: 50em) {
  /* line 245, ../_sass/partials/_page.scss */
  nav[role=navigation] {
    box-sizing: border-box;
    float: left;
    position: absolute;
  }
}
@media screen and (min-width: 50em) {
  /* line 245, ../_sass/partials/_page.scss */
  nav[role=navigation] {
    width: 240px;
    width: 15rem;
  }
}
@media screen and (min-width: 60em) {
  /* line 245, ../_sass/partials/_page.scss */
  nav[role=navigation] {
    width: 288px;
    width: 18rem;
  }
}
/* line 310, ../_sass/partials/_page.scss */
nav[role=navigation] a {
  color: #5d9732;
  text-decoration: none;
}
/* line 313, ../_sass/partials/_page.scss */
nav[role=navigation] a:hover {
  color: #cbe194;
}
/* line 314, ../_sass/partials/_page.scss */
nav[role=navigation] a:focus {
  color: #cbe194;
}
/* line 315, ../_sass/partials/_page.scss */
nav[role=navigation] a.active {
  color: #cbe194;
}
/* line 318, ../_sass/partials/_page.scss */
nav[role=navigation] ol {
  padding: 48px 48px;
  padding: 3rem 3rem;
}
@media screen and (min-width: 50em) {
  /* line 318, ../_sass/partials/_page.scss */
  nav[role=navigation] ol {
    padding-top: 96px;
    padding-top: 6rem;
  }
}
@media screen and (min-width: 60em) {
  /* line 318, ../_sass/partials/_page.scss */
  nav[role=navigation] ol {
    padding-top: 144px;
    padding-top: 9rem;
  }
}

/* line 329, ../_sass/partials/_page.scss */
body > div {
  width: 100%;
  margin: 0 auto;
  margin: 0 auto;
  padding-bottom: 72px;
  padding-bottom: 4.5rem;
  background: #fff;
}
/* line 336, ../_sass/partials/_page.scss */
body > div:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* line 338, ../_sass/partials/_page.scss */
body > div > div {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 50em) {
  /* line 338, ../_sass/partials/_page.scss */
  body > div > div {
    width: 768px;
    width: 48rem;
  }
}
@media screen and (min-width: 60em) {
  /* line 338, ../_sass/partials/_page.scss */
  body > div > div {
    width: 960px;
    width: 60rem;
  }
}

/* line 349, ../_sass/partials/_page.scss */
article {
  position: relative;
  margin: 72px 0 48px;
  margin: 4.5rem 0 3rem;
}
/* line 353, ../_sass/partials/_page.scss */
article h2 {
  text-align: center;
}
@media screen and (min-width: 62em) {
  /* line 353, ../_sass/partials/_page.scss */
  article h2 {
    font-size: 36px;
    font-size: 2.25rem;
  }
}

/* line 363, ../_sass/partials/_page.scss */
.article-intro p:first-child {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 36px;
  line-height: 2.25rem;
}

/* line 369, ../_sass/partials/_page.scss */
#intro {
  padding: 108px 0;
  padding: 6.75rem 0;
}
/* line 372, ../_sass/partials/_page.scss */
#intro p {
  color: #52832d;
  font-size: 18px;
  font-size: 1.125rem;
  text-indent: 36px;
  text-indent: 2.25rem;
}
@media screen and (min-width: 50em) {
  /* line 372, ../_sass/partials/_page.scss */
  #intro p {
    -moz-columns: 2;
    -webkit-columns: 2;
    columns: 2;
    -moz-column-gap: 4.5rem;
    -webkit-column-gap: 4.5rem;
    column-gap: 4.5rem;
    -moz-column-gap: 72px;
    -webkit-column-gap: 72px;
    column-gap: 72px;
  }
}
/* line 383, ../_sass/partials/_page.scss */
#intro p + p {
  text-indent: 0;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/* line 387, ../_sass/partials/_page.scss */
.post-header {
  width: 100%;
  padding: 1.584px 0 1.584px;
  padding: 0.099rem 0 0.099rem;
  background: rgba(0, 0, 0, 0.25);
  /* Hero image */
}
@media screen and (min-width: 50em) {
  /* line 387, ../_sass/partials/_page.scss */
  .post-header {
    padding: 162px 0 54px;
    padding: 10.125rem 0 3.375rem;
  }
}
@media screen and (min-width: 60em) {
  /* line 387, ../_sass/partials/_page.scss */
  .post-header {
    padding: 162px 0 108px;
    padding: 10.125rem 0 6.75rem;
  }
}
/* line 403, ../_sass/partials/_page.scss */
.post-header h1 {
  text-align: center;
  font-size: 36px;
  font-size: 2.25rem;
  color: #f4f9e8;
  text-shadow: #2f471e 1.584px 1.584px 1.98px;
  text-shadow: #2f471e 0.099rem 1.584px 0.12375rem;
  font-weight: 700;
}
@media screen and (min-width: 50em) {
  /* line 403, ../_sass/partials/_page.scss */
  .post-header h1 {
    font-size: 81.008px;
    font-size: 5.063rem;
  }
}
/* line 419, ../_sass/partials/_page.scss */
.post-header h2, .post-header p {
  text-align: center;
  font-size: 27.008px;
  font-size: 1.688rem;
  color: #e9f2d2;
  text-shadow: #2f471e 1.584px 1.584px 1.98px;
  text-shadow: #2f471e 0.099rem 1.584px 0.12375rem;
  font-weight: 700;
}
/* line 432, ../_sass/partials/_page.scss */
.post-header figure.hero img {
  /* hide on mobile, fixes a lot of problems */
  position: fixed;
  z-index: -10;
  min-width: 30em;
  top: 0;
  left: 0;
  right: 0;
  margin: auto auto;
}
@media screen and (min-width: 50em) {
  /* line 432, ../_sass/partials/_page.scss */
  .post-header figure.hero img {
    display: block;
  }
}
/* line 448, ../_sass/partials/_page.scss */
.post-header figure.hero figcaption {
  display: none;
  position: absolute;
  top: 72px;
  top: 4.5rem;
  right: 24px;
  right: 1.5rem;
  color: #fff;
}
@media screen and (min-width: 50em) {
  /* line 448, ../_sass/partials/_page.scss */
  .post-header figure.hero figcaption {
    display: block;
  }
}

/* line 464, ../_sass/partials/_page.scss */
figcaption .source {
  font-size: 12px;
  font-size: 0.75rem;
}

/* line 469, ../_sass/partials/_page.scss */
blockquote.pull-quote {
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  padding: 24px 0;
  padding: 1.5rem 0;
  margin: 48px 0;
  margin: 3rem 0;
}
/* line 476, ../_sass/partials/_page.scss */
blockquote.pull-quote p {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 48px;
  line-height: 3rem;
  text-indent: 48px;
  text-indent: 3rem;
  color: #4d4d4d;
  font-style: italic;
}

/* line 485, ../_sass/partials/_page.scss */
main[role=main] {
  margin-top: 100%;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  padding: 48px 0;
  padding: 3rem 0;
}
@media screen and (min-width: 50em) {
  /* line 485, ../_sass/partials/_page.scss */
  main[role=main] {
    float: right;
  }
}
@media screen and (min-width: 60em) {
  /* line 485, ../_sass/partials/_page.scss */
  main[role=main] {
    padding: 72px 0;
    padding: 4.5rem 0;
  }
}
@media screen and (min-width: 50em) {
  /* line 485, ../_sass/partials/_page.scss */
  main[role=main] {
    width: 504px;
    width: 31.5rem;
  }
}
@media screen and (min-width: 60em) {
  /* line 485, ../_sass/partials/_page.scss */
  main[role=main] {
    width: 708px;
    width: 44.25rem;
  }
}
/* line 504, ../_sass/partials/_page.scss */
main[role=main]:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/*
  Specific sections
*/
/* line 512, ../_sass/partials/_page.scss */
#introduction > p:first-child {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 27.008px;
  line-height: 1.688rem;
  text-indent: 24px;
  text-indent: 1.5rem;
}
@media screen and (min-width: 60em) {
  /* line 512, ../_sass/partials/_page.scss */
  #introduction > p:first-child {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 36px;
    line-height: 2.25rem;
    text-indent: 24px;
    text-indent: 1.5rem;
  }
}
/* line 524, ../_sass/partials/_page.scss */
#introduction div {
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 50em) {
  /* line 524, ../_sass/partials/_page.scss */
  #introduction div {
    margin-top: 48px;
    margin-top: 3rem;
    -moz-columns: 2;
    -webkit-columns: 2;
    columns: 2;
    -moz-column-gap: 1.5rem;
    -webkit-column-gap: 1.5rem;
    column-gap: 1.5rem;
    -moz-column-gap: 24px;
    -webkit-column-gap: 24px;
    column-gap: 24px;
  }
}
@media screen and (min-width: 60em) {
  /* line 524, ../_sass/partials/_page.scss */
  #introduction div {
    -moz-column-gap: 3rem;
    -webkit-column-gap: 3rem;
    column-gap: 3rem;
    -moz-column-gap: 48px;
    -webkit-column-gap: 48px;
    column-gap: 48px;
  }
}
/* line 538, ../_sass/partials/_page.scss */
#introduction div #you {
  font-size: 18px;
  font-size: 1.125rem;
}

/*
  Template specific styles
*/
/* Hero image */
/* line 559, ../_sass/partials/_page.scss */
.products li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
  float: left;
  margin-bottom: 48px;
  margin-bottom: 3rem;
}
@media screen and (min-width: 50em) {
  /* line 559, ../_sass/partials/_page.scss */
  .products li {
    float: left;
    margin-bottom: 48px;
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 50em) and (min-width: 50em) {
  /* line 559, ../_sass/partials/_page.scss */
  .products li {
    width: 240px;
    width: 15rem;
  }
}
@media screen and (min-width: 50em) and (min-width: 50em) {
  /* line 559, ../_sass/partials/_page.scss */
  .products li {
    margin-right: 24px;
    margin-right: 1.5rem;
  }
}
@media screen and (min-width: 50em) and (min-width: 60em) {
  /* line 559, ../_sass/partials/_page.scss */
  .products li {
    width: 288px;
    width: 18rem;
  }
}
@media screen and (min-width: 50em) and (min-width: 60em) {
  /* line 559, ../_sass/partials/_page.scss */
  .products li {
    margin-right: 48px;
    margin-right: 3rem;
  }
}

/* line 587, ../_sass/partials/_page.scss */
.products li:nth-child(2n) {
  margin-right: 0;
}
/* line 605, ../_sass/partials/_page.scss */
.products img {
  position: static;
  z-index: 1;
  float: left;
}
/* line 612, ../_sass/partials/_page.scss */
.products a {
  color: #888888;
}
/* line 614, ../_sass/partials/_page.scss */
.products a:hover, .products a:focus {
  color: #5d9732;
}
/* line 617, ../_sass/partials/_page.scss */
.products a:hover + h3 a, .products a:focus + h3 a {
  color: #fff;
}
/* line 624, ../_sass/partials/_page.scss */
.products h3 {
  display: block;
  position: absolute;
  bottom: 0;
  padding: 8px;
  padding: 0.5rem;
  width: 100%;
  background: #111;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  z-index: 2;
}
/* line 649, ../_sass/partials/_page.scss */
.products h3:hover a, .products h3:focus a {
  color: #fff;
}
/* line 651, ../_sass/partials/_page.scss */
.products h3 a {
  position: relative;
  width: 100%;
  color: #cbe194;
  text-decoration: none;
}
/* line 657, ../_sass/partials/_page.scss */
.products h3 a:hover {
  color: #fff;
}
/* line 658, ../_sass/partials/_page.scss */
.products h3 a:focus {
  color: #fff;
}
/* line 664, ../_sass/partials/_page.scss */
.products .teaser {
  height: 96px;
  height: 6rem;
  padding-top: 24px;
  padding-top: 1.5rem;
  clear: both;
}
@media screen and (min-width: 50em) {
  /* line 672, ../_sass/partials/_page.scss */
  .products .callout h3 {
    margin: 144px 0;
    margin: 9rem 0;
  }
  /* line 676, ../_sass/partials/_page.scss */
  .products .callout p + img + h3 {
    margin: 120px 0;
    margin: 7.5rem 0;
  }
}
/* line 683, ../_sass/partials/_page.scss */
.products:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 686, ../_sass/partials/_page.scss */
article.post-content {
  clear: both;
}
@media screen and (min-width: 50em) {
  /* line 686, ../_sass/partials/_page.scss */
  article.post-content {
    width: 504px;
    width: 31.5rem;
  }
}
@media screen and (min-width: 60em) {
  /* line 686, ../_sass/partials/_page.scss */
  article.post-content {
    width: 624px;
    width: 39rem;
  }
}
@media screen and (min-width: 50em) {
  /* line 686, ../_sass/partials/_page.scss */
  article.post-content {
    float: right;
    clear: right;
  }
}
/* line 696, ../_sass/partials/_page.scss */
article.post-content figure {
  margin: 48px 0;
  margin: 3rem 0;
}
/* line 699, ../_sass/partials/_page.scss */
article.post-content figure figcaption {
  background: color(#fff, #c8df8e, 20%);
  font-size: 8px;
  font-size: 0.5rem;
}

/* line 706, ../_sass/partials/_page.scss */
div.support-ga {
  clear: right;
}
@media screen and (min-width: 50em) {
  /* line 706, ../_sass/partials/_page.scss */
  div.support-ga {
    width: 504px;
    width: 31.5rem;
  }
}
@media screen and (min-width: 60em) {
  /* line 706, ../_sass/partials/_page.scss */
  div.support-ga {
    width: 624px;
    width: 39rem;
  }
}
@media screen and (min-width: 50em) {
  /* line 706, ../_sass/partials/_page.scss */
  div.support-ga {
    float: right;
  }
}
/* line 713, ../_sass/partials/_page.scss */
div.support-ga p {
  margin: 24px 0;
  margin: 1.5rem 0;
}

/* line 716, ../_sass/partials/_page.scss */
#authors {
  clear: both;
  padding: 72px 0;
  padding: 4.5rem 0;
}
/* line 720, ../_sass/partials/_page.scss */
#authors:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
@media screen and (min-width: 50em) {
  /* line 724, ../_sass/partials/_page.scss */
  #authors dl {
    width: 768px;
    width: 48rem;
  }
}
@media screen and (min-width: 60em) {
  /* line 724, ../_sass/partials/_page.scss */
  #authors dl {
    width: 960px;
    width: 60rem;
  }
}
/* line 727, ../_sass/partials/_page.scss */
#authors dl dt, #authors dl dd {
  float: left;
}
@media screen and (min-width: 50em) {
  /* line 727, ../_sass/partials/_page.scss */
  #authors dl dt, #authors dl dd {
    width: 372px;
    width: 23.25rem;
  }
}
@media screen and (min-width: 60em) {
  /* line 727, ../_sass/partials/_page.scss */
  #authors dl dt, #authors dl dd {
    width: 204px;
    width: 12.75rem;
  }
}
/* line 732, ../_sass/partials/_page.scss */
#authors dl dt:after {
  content: ":";
}

/* line 737, ../_sass/partials/_page.scss */
body > footer {
  width: 100%;
  background: #75b176;
  clear: both;
  padding: 72px 0 -24px;
  padding: 4.5rem 0 -1.5rem;
}
/* line 743, ../_sass/partials/_page.scss */
body > footer nav {
  width: 100%;
  background: #5d9732;
  text-align: center;
}
/* line 749, ../_sass/partials/_page.scss */
body > footer nav ul {
  display: none;
  margin: 0 auto;
  padding: 0;
}
/* line 753, ../_sass/partials/_page.scss */
body > footer nav ul li {
  margin: 0;
  padding: 3.552px 16px;
  padding: 0.222rem 1rem;
  list-style-type: none;
  display: inline-block;
}
@media screen and (min-width: 30em) {
  /* line 761, ../_sass/partials/_page.scss */
  body > footer nav ul {
    display: block;
  }
  /* line 762, ../_sass/partials/_page.scss */
  body > footer nav select {
    display: none;
  }
}
/* line 765, ../_sass/partials/_page.scss */
body > footer nav a {
  color: #fff;
  text-decoration: none;
}
/* line 768, ../_sass/partials/_page.scss */
body > footer nav a:visited {
  color: #fff;
}
/* line 769, ../_sass/partials/_page.scss */
body > footer nav a:hover {
  color: #cbe194;
}
/* line 770, ../_sass/partials/_page.scss */
body > footer nav a:focus {
  color: #cbe194;
}
/* line 771, ../_sass/partials/_page.scss */
body > footer nav a:active {
  color: #cbe194;
}
/* line 777, ../_sass/partials/_page.scss */
body > footer:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  height: 16px;
  height: 1rem;
}
/* line 782, ../_sass/partials/_page.scss */
body > footer > div {
  width: 100%;
  margin: 24px auto 0;
  margin: 1.5rem auto 0;
  padding-top: 48px;
  padding-top: 3rem;
  clear: both;
}
@media screen and (min-width: 50em) {
  /* line 782, ../_sass/partials/_page.scss */
  body > footer > div {
    width: 768px;
    width: 48rem;
  }
}
@media screen and (min-width: 60em) {
  /* line 782, ../_sass/partials/_page.scss */
  body > footer > div {
    width: 960px;
    width: 60rem;
  }
}
/* line 789, ../_sass/partials/_page.scss */
body > footer > div:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* line 792, ../_sass/partials/_page.scss */
body > footer div > div {
  text-align: left;
}
@media screen and (min-width: 50em) {
  /* line 792, ../_sass/partials/_page.scss */
  body > footer div > div {
    width: 240px;
    width: 15rem;
  }
}
@media screen and (min-width: 60em) {
  /* line 792, ../_sass/partials/_page.scss */
  body > footer div > div {
    width: 288px;
    width: 18rem;
  }
}
@media screen and (min-width: 50em) {
  /* line 792, ../_sass/partials/_page.scss */
  body > footer div > div {
    float: left;
    clear: right;
  }
}
@media screen and (min-width: 50em) and (min-width: 50em) {
  /* line 792, ../_sass/partials/_page.scss */
  body > footer div > div {
    margin-right: 24px;
    margin-right: 1.5rem;
  }
}
@media screen and (min-width: 50em) and (min-width: 60em) {
  /* line 792, ../_sass/partials/_page.scss */
  body > footer div > div {
    margin-right: 48px;
    margin-right: 3rem;
  }
}
@media screen and (min-width: 50em) {
  /* line 803, ../_sass/partials/_page.scss */
  body > footer div > div:nth-child(3n) {
    margin-right: 0;
  }
  /* line 804, ../_sass/partials/_page.scss */
  body > footer div > div:nth-child(3n+1) {
    clear: left;
  }
}
/* line 807, ../_sass/partials/_page.scss */
body > footer div > div h1 {
  font-size: 24px;
  font-size: 1.5rem;
}
/* line 809, ../_sass/partials/_page.scss */
body > footer div > div h1 a {
  color: #fafcf4;
}
/* line 812, ../_sass/partials/_page.scss */
body > footer div > div h1 a:hover, body > footer div > div h1 a:focus {
  color: #e9f2d2;
}
/* line 816, ../_sass/partials/_page.scss */
body > footer div > div p {
  color: #fff;
}
/* line 820, ../_sass/partials/_page.scss */
body > footer .home {
  text-align: center;
}
/* line 825, ../_sass/partials/_page.scss */
body > footer a img {
  width: 48px;
  width: 3rem;
}
/* line 829, ../_sass/partials/_page.scss */
body > footer .infographic a img {
  width: 192px;
  width: 12rem;
}
/* line 832, ../_sass/partials/_page.scss */
body > footer #legal {
  text-align: center;
  color: #fff;
}
@media screen and (min-width: 50em) {
  /* line 832, ../_sass/partials/_page.scss */
  body > footer #legal {
    width: 768px;
    width: 48rem;
  }
}
@media screen and (min-width: 60em) {
  /* line 832, ../_sass/partials/_page.scss */
  body > footer #legal {
    width: 960px;
    width: 60rem;
  }
}
/* line 838, ../_sass/partials/_page.scss */
body > footer #legal span {
  display: block;
}

/* line 844, ../_sass/partials/_page.scss */
.no-textshadow section[role=main] .introduction h1 {
  color: #5d9732;
}

/* line 4, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 6, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 35, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 8, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 61, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 67, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_helpers.scss */
.clearfix:after {
  clear: both;
}

/* Media Queries are include in the _page to take advantage of bubbling out features */
@media print {
  /* line 12, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_media.scss */
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 22, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_media.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 27, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 31, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 37, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_media.scss */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  /* line 42, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_media.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 51, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 55, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_media.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 60, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_media.scss */
  img {
    max-width: 100% !important;
  }

  /* line 64, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_media.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 71, ../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_media.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
