<p>With the climate crisis intensifying, we all need to take a stand to oppose dirty energy and support clean energy alternatives. One of the most powerful actions we can take is divesting from fossil fuels and reinvesting those funds in ways that support people and the planet.</p>

<div>
    <p>The time for action has never been more urgent. < a href="https://www.nasa.gov/press-release/nasa-noaa-data-show-2016-warmest-year-on-record-globally">Global temperature records</a> were set in 2016 for the third year in a row. Shrinking glaciers, droughts, rising seas, heat waves&mdash;we have more than enough evidence to compel us to act personally and collectively.</p>

<p>At the 2015 COP 21 forum in Paris, France, world leaders pledged to take action to keep global temperature increase to 2 degrees C (3.6 F). It’s now clear that we need to keep the vast majority of remaining fossil fuels in the ground in order to avoid missing that goal, which would lead to environmental and economic catastrophe.</p>

    <p>The Divest-Invest climate movement is an increasingly powerful force to help achieve the goal of a global clean energy economy. Individuals and institutions together worth $5.2 trillion in assets have pledged to divest from fossil fuels. Almost 700 institutions, including foundations, colleges and universities, pension funds, faith-based organizations, and civil society groups have pledged to divest either in whole or in part from fossil fuels. Already, 58,000 individuals are pledging to divest. You can join this movement too!</p>


</div>
