
<blockquote>
<p>The logic of divestment couldn&#8217;t be simpler: if it&#8217;s wrong to wreck the climate, it&#8217;s wrong to profit from that wreckage.</p>

<p><p class="source"><a href="http://www.rollingstone.com/politics/news/the-case-for-fossil-fuel-divestment-20130222#ixzz3nuxmgiSP">Bill McKibben</a>, climate activist, author, founder of 350.org</p>
</blockquote>
