<p>As the effects of climate change worsen and more governments move to tax and limit carbon emissions, fossil fuel companies now count as assets that will lose their value. Eliminating carbon from your portfolio now will help you avoid future risk from devalued carbon assets. <a href="http://transformtrillions.org/">A recent economic analysis</a> from investment consulting firm Mercer has shown that climate change will have a significant effect on pensions and other fund returns. The analysis also concludes that trustees’ failure to respond to climate change risks could result in a breach of fiduciary duty.</p>

<p>In the meantime, carbon-free portfolios offer competitive returns. In fact, 2013 research from S&amp;P Capital IQ found that universities with endowment divestment campaigns would have seen greater returns on their investments had they divested from fossil fuels ten years earlier.</p>

<p><a href="http://greencentury.com/why-choose-green-century/fossil-fuel-free-investing/guide/?utm_source=GA&utm_medium=FFweb&utm_campaign=ad"><img src="/fossil-free/images/ads/KrullAd.jpg" /></a></p>