<p>Over time, more and more people have come to understand how our economic decisions and actions have ripple effects throughout society and around the world. How we make profit is as important as how we use profit. Both individuals and institutions need to apply their values to decisions about their investments—including bank accounts, mutual funds, and stocks and bonds. Simply put, our concern about climate change needs to be reflected in our financial decisions; our portfolios, no matter what size, should point toward a clean energy future. This is necessary for both the planet and for our long-term economic well-being.</p>

<p>Divestment is growing rapidly. What started as a movement on college campuses has begun to enter the financial mainstream. The value of investment funds divesting from fossil fuels has more than doubled in the past year, with more than 80% of new funds being managed by a commercial interest. A few recent high-profile examples of climate-related divestment include:</p>

<ul>
    <li><p><a href="http://www.pionline.com/article/20161215/ONLINE/161219914/southwark-pension-fund-to-divest-fossil-fuel-investments">In December 2016</a>, the London Borough of Southwark Pension Fund, worth $1.5 billion committed to divest its pension fund from fossil fuel companies and reallocate a portion to investment in clean energy infrastructure in London.</p></li>
    <li><p>In 2016, the <a href="https://www.wma.net/policies-post/wma-statement-on-divestment-from-fossil-fuels/">World Medical Association</a> released a report urging medical and health organizations all over the world to divest from fossil fuels and to transfer their investments to renewable energy sources. It also called on 112 national medical association members to educate people and leaders on the dangers of climate change and the health benefits of reducing greenhouse gas emissions.</p></li>
<li><p>Since 2015, many of the largest US banks, including Bank of America, Wells Fargo, Citigroup, Goldman Sachs, and Morgan Stanley, have released new policies committing to reduce lending to coal-mining companies and increase scrutiny of financing to coal-fired power plants.</p></li>
    <li><p>< a href="https://www.theguardian.com/environment/2015/aug/28/worlds-biggest-coal-port-joins-fossil-fuel-divestment-push">In August 2015</a>, the largest coal port in the world, located in Australia, voted to divest its $270 million portfolio of fossil fuels—including coal. While the port depends on coal at present, there is growing recognition that a new direction is needed.</p></li>
    <li><p><a href="http://www.latimes.com/local/education/la-me-ln-uc-coal-20150909-story.html">In September 2015</a>, the University of California system divested its endowment and pension fund of direct company stock in coal and oil sands in order to address concerns about climate change and the financial risk inherent in those fossil fuel investments.</p></li>
    <li><p><a href="https://www.commondreams.org/newswire/2017/07/21/cape-town-heeds-fossil-fuel-divestment-call">In July of 2017</a>, Cape Town, South Africa mayor Patricia De Lille announced that the city would follow the likes of Copenhagen, Oslo, San Francisco, and others and divest its fossil fuel assets and reinvest in more sustainable assets.</p></li>
</ul>

<p>The fact that fossil fuels are deeply embedded in the economy cannot be an excuse for inaction, and the recent success of the divestment movement is a signal that we need to continue pushing harder. Ever more individual and institutional investors are taking leadership and divesting their portfolios of fossil fuels.</p>
