<blockquote>
<p>It is wrong for us to continue on this path of not moving from fossil fuels to clean energy and we must stop the madness now.</p>

<p><p class="source"><a href="http://www.paceebene.org/2015/04/14/rev-yearwood-delivers-climate-change-message/">Reverend Lennox Yearwood Jr</a>, president of the Hip Hop Caucus</p>
</blockquote>
