<p>Sponsored by:</p>

<p><a href="http://www.greenamerica.org"><img src="http://placehold.it/500x500"><alt text="Sponsor Logo Placeholder"/></a></p>
<div class="highlight"><pre><code class="language-" data-lang="">        &lt;article id="sponsor" class="sponsor"&gt;
            Sponsored by:
</code></pre></div>
<p><a href="http://www.greenamerica.org"><img src="http://placehold.it/500x500"><alt text="Sponsor Logo Placeholder"/></a></p>
<div class="highlight"><pre><code class="language-" data-lang=""><span class="p">{</span><span class="err">%</span><span class="w"> </span><span class="err">for</span><span class="w"> </span><span class="err">post</span><span class="w"> </span><span class="err">in</span><span class="w"> </span><span class="err">site.posts</span><span class="w"> </span><span class="err">%</span><span class="p">}</span><span class="w">
    </span><span class="p">{</span><span class="err">%</span><span class="w"> </span><span class="err">if</span><span class="w"> </span><span class="err">post.section</span><span class="w"> </span><span class="err">==</span><span class="w"> </span><span class="nt">"sponsor"</span><span class="w"> </span><span class="err">%}</span><span class="w">
        </span><span class="err">&lt;article</span><span class="w"> </span><span class="err">id=</span><span class="s2">"sponsor"</span><span class="w"> </span><span class="err">class=</span><span class="s2">"{{ post.section-layout }}"</span><span class="err">&gt;</span><span class="w">
            </span><span class="p">{</span><span class="err">{</span><span class="w"> </span><span class="err">post.content</span><span class="w"> </span><span class="p">}</span><span class="err">}</span><span class="w">
        </span><span class="err">&lt;/article&gt;</span><span class="w">
    </span><span class="p">{</span><span class="err">%</span><span class="w"> </span><span class="err">endif</span><span class="w"> </span><span class="err">%</span><span class="p">}</span><span class="w">
</span><span class="p">{</span><span class="err">%</span><span class="w"> </span><span class="err">endfor</span><span class="w"> </span><span class="err">%</span><span class="p">}</span><span class="w">
        </span><span class="err">&lt;/article&gt;</span><span class="w">



        </span><span class="err">&lt;article</span><span class="w"> </span><span class="err">id=</span><span class="s2">"sponsor"</span><span class="w"> </span><span class="err">class=</span><span class="s2">"sponsor"</span><span class="err">&gt;</span><span class="w">
            </span><span class="err">Sponsored</span><span class="w"> </span><span class="err">by:</span><span class="w">
</span></code></pre></div>
<p><a href="http://www.greenamerica.org"><img src="http://placehold.it/500x500"><alt text="Sponsor Logo Placeholder"/></a></p>
<div class="highlight"><pre><code class="language-" data-lang=""><span class="p">{</span><span class="err">%</span><span class="w"> </span><span class="err">for</span><span class="w"> </span><span class="err">post</span><span class="w"> </span><span class="err">in</span><span class="w"> </span><span class="err">site.posts</span><span class="w"> </span><span class="err">%</span><span class="p">}</span><span class="w">
    </span><span class="p">{</span><span class="err">%</span><span class="w"> </span><span class="err">if</span><span class="w"> </span><span class="err">post.section</span><span class="w"> </span><span class="err">==</span><span class="w"> </span><span class="nt">"sponsor"</span><span class="w"> </span><span class="err">%}</span><span class="w">
        </span><span class="err">&lt;article</span><span class="w"> </span><span class="err">id=</span><span class="s2">"sponsor"</span><span class="w"> </span><span class="err">class=</span><span class="s2">"{{ post.section-layout }}"</span><span class="err">&gt;</span><span class="w">
            </span><span class="p">{</span><span class="err">{</span><span class="w"> </span><span class="err">post.content</span><span class="w"> </span><span class="p">}</span><span class="err">}</span><span class="w">
        </span><span class="err">&lt;/article&gt;</span><span class="w">
    </span><span class="p">{</span><span class="err">%</span><span class="w"> </span><span class="err">endif</span><span class="w"> </span><span class="err">%</span><span class="p">}</span><span class="w">
</span><span class="p">{</span><span class="err">%</span><span class="w"> </span><span class="err">endfor</span><span class="w"> </span><span class="err">%</span><span class="p">}</span><span class="w">
        </span><span class="err">&lt;/article&gt;</span><span class="w">
</span></code></pre></div>