<p>We can make a US clean-energy economy a reality by refusing to invest in companies that are destroying our planet. By shifting our investments into clean energy and support public policies that move us away from fossil fuels, we can simultaneously protect our assets and the environment.</p>

<p>Green America is proud to partner with 350.org and the DivestInvest Campaign.  Here&#8217;s how to get a started: </p>

<ol>
    <li><p>1. Divest Your Fossil Fuel Holdings: The definition of fossil fuel free investing has evolved over time. Many investors start with partial divestment as they move towards a fossil fuel free portfolio. As You Sow, the organization that created the online divestment tool <a href="https://fossilfreefunds.org/">FossilFreeFunds.org</a>, outlines several approaches to fossil fuel divestment:</p>
        <ul>
            <li>
                Divesting of the Carbon Underground 200 - the top 200 companies that control the largest coal oil and gas reserves. The list is compiled and maintained by < a href="http://fossilfreeindexes.com/">Fossil Fuel Indexes.</a>
            
            </li>
            
            <li>
                Divesting of the Macroclimate® 50 - the top 50 companies that own coal-fired power plants. The data for this list is compiled by the <a href="http://globalenergyobservatory.org/index.php">Global Energy Observatory</a>, and the list is maintained by <a href="https://macroclimate.com/">Macroclimate&reg;.</a>
            </li>
            <li>Divesting of Morningstar-identified fossil fuel industries: oil and gas, which includes drilling, exploration, processing and transportation, marketing, and equipment and services; coal, which includes companies engaged in mining coal; and utilities, which includes independent producers, and regulated electric and natural gas transmission, storage, or distribution companies.</li>
        
        
        </ul>
        
      
    
    </li>
    <p>If you are invested in mutual funds, switch to fossil fuel free funds and urge your current fund companies to offer fossil fuel company-free options. To ensure your portfolio remains balanced and geared toward your financial goals, work with a <a href="http://app.greenamerica.org/fossil-free/2015/09/29/Planners.html">financial planner</a> or <a href="http://app.greenamerica.org/fossil-free/2015/09/29/Firms.html">asset management firm</a> that understands the importance of fossil fuel company divestment.</p>
<li><p>Make Your Banking &amp; Credit Cards Fossil-Free: Many conventional mega-banks invest in fossil fuels. You can bank with a community development bank or credit union that is fossil fuel company-free and that helps local communities prosper. Visit <a href="http://www.BreakUpWithYourMegaBank.org">BreakUpWithYourMegaBank.org</a> for information on switching your accounts. If you use a credit card, be sure it is from a community development credit union that supports people and the planet. Visit <a href="http://www.TakeChargeofYourCard.org">TakeChargeofYourCard.org</a> for information on green credit cards.</p></li>
<li><p>Reinvest in a Clean Energy Future: There are a growing number of investment products that are free of fossil fuel companies and support clean energy investment and efficiency. Use the <a href="#products">list of financial services companies</a> below  to find funds, certificates of deposit, ETFs, and service providers who can help you create a portfolio that meets your needs. Most of the companies are certified members of Green America&#8217;s Green Business Network®.</p></li>
</ol>
