<dl class="steps">
<dt>Divest from Fossil Fuels</dt>

<dd><p>If you directly own stocks in specific companies, you can divest yourself of your fossil fuel holdings just like a municipality or retirement fund would. Simply identify the problematic stocks you no longer wish to own, and sell them. Find the <a href="#worst">ten largest fossil-fuel companies</a> or find the list of the largest 200 at 350.org&#8217;s <a href="http://gofossilfree.org/companies">go fossil free</a>.</p>

<p>Another option is to donate your stock to a nonprofit organization and use your donation as a tax write-off.</p>

<p>Most people don’t do their own direct investing. If you invest in mutual funds, or a retirement account, you can call your accounts and ask for your money to be directed into fossil&mdash;fuel&mdash;free investments. If your current investment companies don’t offer fossil&mdash;free options (and most don’t!) tell them that you are considering divestment, and will move to other investment products that better match your values.</p>

<p><strong>Use the <a href="http://www.fossilfreefunds.org">Fossil Free Funds online tool</a> produced by As You Sow and Morningstar to find out the fossil fuel exposure of your mutual funds.</strong></p>

<p>Divestment can make good financial sense for your portfolio. Over the long term, as the effects of climate change become more apparent, and as more and more governments adopt policies to limit carbon pollution, the carbon resources that fossil fuel companies currently count as assets will shift to liabilities. Studies by numerous analysts, including the London School of Economics, the Aperio Group, HSBC, and Impact Asset Management, demonstrate that fossil fuel companies may be overvalued by as much as 40 to 60 percent. Financial analysts call this overvaluation the “carbon bubble” and explain that it could cause similar financial turmoil to previous overvaluations (like the 2007 “housing bubble”) when it bursts. Divestment now could protect your assets in the future. But what to do with the money you divest from the fossil fuel companies? Answer: Reinvest in the clean energy future.</p></dd>

<br />
<a href="https://www.self-help.org/personal/accounts/certificates/green-term-certificate?utm_source=GreenAmerica&utm_medium=banner&utm_campaign=GreenCDs"><img src="/fossil-free/images/ads/self-help.jpg" /></a>

<dt>Reinvest in Clean Energy &amp; Fossil Fuel-Free Products</dt>
<dd><p>“Fossil fuel free investing is smart, possible and needed.” says Leslie Samuelrich, president of the investment advisory firm Green Century Capital Management “We must and can move away from fossil fuels into renewable energy. The quality of the lives of our children and grandchildren depends on it.”</p>

<p>A handful of companies like Portfolio 21 specifically offer <a href="#products"> broad-based mutual funds that exclude dirty energy companies by policy</a>. You can also find exchange traded funds that focus on clean energy, mutual funds that are less broad based and focus on clean energy, and community development mutual funds that exclude fossil fuels due to their mission to invest in smaller, local sustainable businesses. These investments tend to require minimum investments of around $1,000 to $2,500.</p></dd>

<dt>Invest in Clean Energy for Your Home &amp; Community</dt>

<dd><p>For many people, their most valuable investment is their home. If you don&#8217;t find yourself in a position to invest $50,000 via a financial advisor, you may be able to invest in clean energy for your home, raising the value of your property.</p>

    <p>Researchers from the Department of Energy’s Lawrence Berkeley Laboratory <a href="https://www.nytimes.com/2015/02/22/realestate/solar-panels-and-home-values.html">released a study</a> in 2014 that analyzed 22,000 sales of homes across eight states between 1999 and 2013. They found that the property value of homes with solar photovoltaic (PV) systems increased by an average of $15,000. Homes with larger PV systems saw an even greater increase in property values. Over half a million homes in the U.S. have PV systems installed, and prospective homebuyers are seeing the value in solar energy.</p>

<p>Many states offer tax incentives for improving your property with clean energy. Check <a href="http://www.dsireusa.org">DSIRE</a>, the Database for State Incentives for Renewables &amp; Efficiency for incentives in your state.</p>

<p>And finally, even if you don’t own a home, or can’t go solar at home yet, in many areas of the country you can invest in collective purchasing of community based solar projects. Those with very little up-front capital can often buy into solar collectives for the price of a single panel (around $500), and then begin to recoup their money as credits on their utility bill.</p>

<p>At the higher end of the investment continuum, a participant in collective purchasing who buys enough panels to cover a home’s full energy needs benefits from the collective structure (optimal siting of panels, collective maintenance, etc.) and spends less money than on a complete individual at-home system. This type of investment allows you to break even more quickly too - in around 10 to 13 years instead 20 to 30 years on many home-based systems.</p></dd>

<dt>Shift Your Bank Accounts &amp; Credit Cards</dt>

<dd><p>Even if none of the above divestment and reinvestment strategies apply to your current financial situation, you can still take part in the divestment movement.</p>

<p>If you have a bank account, you are an investor; the money sitting in your checking accounts, savings accounts, or certificates of deposit (CDs) all serve to advance the interests of your bank, which may not align with your own.</p>

    <p>For example, Bank of America, Wells Fargo, and PNC Financial have ranked as the top-three worst offenders in the US according to a report by the < a href="https://www.ran.org/shorting_the_climate">Rainforest Action Network, Sierra Club, Oil Change International, and BankTrack</a>. The report ranks the banks based on coal mining and power, oil, natural gas export, and human rights related to fossil fuels.</p>

<p>Some of these banks are taking baby steps in the right direction. In 2015, Bank of America announced it would divest from coal projects, and Wells Fargo, J.P. Morgan Chase, and Morgan Stanley are all moving away from coal, citing climate change risks. Despite these steps in the right direction, if you bank with a corporate mega-bank, you’re investing in fossil fuels. While activist pressure has ended megabank investment in mountaintop removal coal mining, these companies are still heavily invested in fossil fuels in general. By contrast, credit unions and community development banks, with their mission to lift up communities and invest in small, local businesses, can offer you access to checking and savings accounts (and other banking and investing products) that aren’t tainted by investment in fossil fuels.</p>

<p>Find better banks at Green America&#8217;s <a href="http://breakupwithyourmegabank.org">breakupwithyourmegabank.org</a>, and find credit cards from community development banks at <a href="http://takechargeofyourcard.org">takechargeofyourcard.org</a>.</p></dd>

<dt>Support Institutional Divestment Movements</dt>

<dd><p>“The fossil fuel divestment movement is the apartheid of this generation,” says Michael Kramer of Natural Investment. “Climate change impacts the entire planet and is a direct threat to our survival ...The more people who clamor for divestment, the more likely that elected officials will listen.”<p>

<p>Individual divestment is an important first step. And when we work together to convince more and larger institutions join the divestment movement, it will be even harder for fossil fuel companies to ignore their stigmatization as an industry fueling the destruction of the planet.</p></dd>
</dl>

<p><a href="http://www.SRIconference.com"><img src="/fossil-free/images/ads/SRIC16.jpg" /></a></p>
