<ul>
<li><a href="#introduction">Introduction</a></li>
<li><a href="#why">Why Divest</a></li>
<li><a href="#portfolio">How Will It Affect Your Portfolio</a></li>
<li><a href="#start">Getting Started</a></li>
<li><a href="#steps">Steps to Divest and Reinvest</a></li>
<li><a href="#progress">Signs of Progress</a></li>
<li><a href="#worst">Ten Worst Fossil Fuel Companies</a></li>
</ul>
